<nav class="navbar bg-dark border-bottom border-bottom-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Les petits plats de Julien</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Acceuil</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/formRecipe">Ajouter une recette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listRecipe">Liste des recettes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/formCategorie">Ajouter une catégorie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categorie">Liste des catégories</a>
          </li> -->
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Recettes
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="/formRecipe">Ajouter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/listRecipe">Liste</a>
              </li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catégories
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="/formCategorie">Ajouter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/categorie">Liste</a>
              </li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
